/* globals.css */
@import 'bootstrap/dist/css/bootstrap.min.css';
/* styles/globals.css */
@import '~bootstrap/dist/css/bootstrap.min.css';

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #0171436e;
}

body {
  color: rgb(var(--foreground-rgb));
 /*  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}



.MainSection{
  position: relative;
  width: 100%;
  min-height: 89vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
 } 

 section{
  position: relative;
  width: 100%;
  /* min-height: 100vh; */
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
 }

 /* Main Header */
 .pageHeader{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* padding: 20px 100px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .pageHeader .logo{
  position: relative;
  max-width: 80px;
 }

 .pageHeader ul{
  position: relative;
  display: flex;
 }

 .pageHeader ul li{
  list-style: none;
 }
 .pageHeader ul li a{
  display: inline-block;
  color: #333;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
 }

 .content{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .content .textbox{
  position: relative;
  max-width: 610px;
 }

 .content .textbox h2{
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
 }
 .content .textbox h2 span{
   color:#017143;
   font-size:1.2em;
   font-weight: 900;
 }
 .content .textbox p{
  color:#333;  
}
.content .textbox a{
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #017143;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}
.content .imgBox{
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  margin-top: 50px;  
}
.content .imgBox img{
  max-width: 340px;  
}
.thumb{
  position: absolute;
  left: 50%;
  bottom:20px;
  transform: translateX(-50%);
  display: flex;
}

.thumb li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}
.thumb li:hover{
  transform: translateY(-15px);
}
.thumb li img{
  max-width: 60px;
}
.sci{
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sci li{
  list-style: none;
}
.sci li a{
  display: inline-block;
  margin: 5px 0;
  transform: scale(0.6);
}

.circle{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #017143;
  clip-path: circle(600px at right 800px);
}

.vitrin01{        
    min-height: 38vh;            
    background-color: Gray;
}
.vitrin02{
    
  width: 100%;
  min-height: 38vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkgreen;
}

/* Mobile UI Optimistation */ 
@media (max-width: 991px){

  body{ padding: 10px; }
  .pageHeader { border-radius: 12px 12px 0px 0px; background-color: #017143; }  
  .navbar{ padding: 3px 21px; background-color: transparent; }
  .pageHeader .logo{ max-width:60px; }
  .pageHeader ul{ display: none; }
  .pageHeader ul li a{ font-size: 1.5em; margin: 5px 0; }
  .toggle{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(http://localhost:3000/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 11;
  }
  .toggle.active{
    position: fixed;
    right: 20px;
    background: url(http://localhost:3000/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .pageHeader ul.navigation.active{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    z-index: 10;


  }
  
  section{
    padding: 0px;
    min-height: 50vh;
  }
  .MainSection{ padding: 4px 0px 171px; }

  .content{ flex-direction: column; margin-top: 0px; }
  .content .textbox h2{ font-size: 1.8em; margin-bottom: 15px; }
  .content .textbox p{ display:none; }
  .content .textbox{ max-width: 100%; }
  .content .imgBox{ max-width: 100%; justify-content: center; }
  .content .imgBox img{ max-width: 250px; }
  .thumb{
    bottom: 4px;
  }
  .thumb li img{ max-width: 60px; }
  .circle{ clip-path: circle(400px at center bottom);}

  
  }